.dashboard-container {
  background: black;

  .exercise-content-container {
    position: absolute;
    z-index: 100;
    width: 95%;
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: 5vh;

    .exercise-title {
      font-size: 4rem;
      margin-bottom: 0;
      margin-top: 0;
    }

    .exercise-desc {
      margin-top: 0;
      width: 70%;
    }
  }

  .rep-lifted-flex {
    margin-bottom: 2%;
    color: white;
    text-transform: uppercase;
    width: 25%;
    display: flex;
    justify-content: space-between;
  }

  .select-pages-container {
    display: flex;
    justify-content: space-between;
    width: 100%;

    .select-exercise-btn {
      background: #ffec42;
      width: 280%;
      height: 100%;
      font-weight: bold;
      font-size: 0.9rem;
      border: none;
      cursor: pointer;
      transition: all 0.2s ease-in-out;
    }

    .page-buttons-container {
      display: flex;
      justify-content: space-between;
      width: 10%;

      .page_btns {
        background: white;
        border: 2px solid white;
        cursor: pointer;
        transition: all 0.2s ease-in-out;
      }

      .page_btns:hover {
        background: #ffec42;
        border: 2px solid #ffec42;
      }

      .inactive {
        background: none;
        border: 2px solid black;
        filter: invert(1);
        pointer-events: none;
      }
    }
  }

  .select-exercise-btn:hover {
    background: white;
    color: black;
  }

  .dashboard-img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    object-position: center;
    opacity: 0.5;
  }
}
