.landing-page-container {
  background: white;
  width: 100%;
  height: 100vh;
  margin: 0;
  position: absolute;
  top: 0;

  .landing-page-content {
    // border: 1px solid rgba(255, 0, 0, 0.479);
    position: absolute;
    z-index: 500;
    top: 12vh;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 100%;
    height: 87.8vh;

    .hero-box-container {
      width: 60%;
      position: absolute;
      right: 0;
      bottom: 0;
      display: flex;

      .content-1 {
        background: white;
        padding: 3% 2%;

        h6 {
          font-size: 1rem;
          margin: 0;
        }
      }

      .content-2 {
        background-image: url("../assets/hero_image.png");
        background-size: cover;
        background-repeat: no-repeat;
        padding: 3% 2%;

        h6,
        p {
          color: white;
        }

        h6 {
          font-size: 1rem;
          margin: 0;
        }
      }

      .content-3 {
        background: white;
        padding: 3% 4.8%;
        text-align: center;
        display: flex;
        align-items: center;

        h6 {
          font-size: 1rem;
          margin: 0;
        }
      }
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p {
      color: black;
    }

    .hero-title-tag {
      margin-top: 10%;
      margin-left: 9.99%;

      h1,
      p {
        color: white;
        margin: 0;
        margin-left: 4%;
      }

      h1 {
        font-size: 5rem;
      }

      p {
        font-size: 1.5rem;
      }

      .CTA-btn {
        background: #ffec42;
        border: none;
        margin-top: 2%;
        width: 22.15%;
        padding: 1.4% 0;
        font-weight: bold;
        font-size: 1rem;
        cursor: pointer;
        outline: none;
        transition: all 0.2s ease-in-out;
      }

      .CTA-btn:hover {
        background: white;
        color: black;
      }
    }
  }

  .down {
    position: absolute;
    z-index: 500;
    bottom: 6vh;
    left: 18.2%;
  }

  .borders {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    opacity: 0.25;

    .border {
      content: "";
      display: block;
      width: 1px;
      background: white;
      height: 100vh;
    }
  }

  .video-container {
    height: 95vh;
    width: 100%;
    overflow: hidden;
    position: absolute;
    z-index: 1;
    top: 2.5%;

    .hero-video {
      filter: brightness(50%);
      width: 100%;
      object-fit: cover;
    }
  }
}
