.navigation-container {
  position: absolute;
  z-index: 999999999;
  width: 95%;
  display: flex;
  justify-content: space-between;
  left: 0;
  right: 0;
  margin: 4vh auto 0;

  .logo {
    width: 70%;
  }

  .inner-nav {
    width: 35%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .sign-out-btn {
    background: none;
    color: white;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
  }

  .sign-out-btn:hover {
    color: #ffec42;
  }

  .links {
    color: white;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
  }

  .links:hover {
    color: #ffec42;
  }
}
