.navigation-container {
  position: absolute;
  z-index: 999999999;
  width: 95%;
  display: flex;
  justify-content: space-between;
  left: 0;
  right: 0;
  margin: 4vh auto 0;

  .logo {
    width: 70%;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
  }

  .logo:hover {
    filter: grayscale(100%);
  }

  .inner-nav {
    width: max-content;
  }

  .sign-out-btn {
    margin-right: 30px;
    background: none;
    color: white;
    border: none;
    font-size: 1rem;
    font-weight: 500;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
  }

  .sign-out-btn:hover {
    color: #ffec42;
  }

  .links {
    margin-right: 30px;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 500;
    transition: all 0.2s ease-in-out;
  }

  .links:hover {
    color: #ffec42;
  }
}
