body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1 {
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  color: white;
}

p {
  color: white;
}

h6 {
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  color: white;
}
